<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--SFTP CONFIGURATION-->
    <add key="REMOTE-DIR" value="/home/go/public_html/gus/cursos-pluralsight"/>
    <add key="NUMBER-RETRY" value="10"/>
    <add key="HOST-SFTP" value=""/>
    <add key="USER-SFTP" value=""/>
    <add key="PASSWORD-SFTP" value=""/>
    <add key="KEY-SFTP" value=""/>
    <!--SMTP CONFIGURATION-->
    <add key="SMTP-HOST" value=""/>
    <add key="SMTP-PORT" value=""/>
    <add key="FROM-EMAIL" value=""/>
    <add key="FROM-NAME" value=""/>
    <add key="FROM-PASSWORD" value=""/>
    <add key="TO-EMAIL" value=""/>
    <add key="TO-NAME" value=""/>
  </appSettings>
</configuration>